<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoProject" verbose="10">
    <test name="Tests">
        <!-- Enter group name to execute specific set of tests -->
        <groups>
            <run>
                <include name="smoke_test"/>
            </run>
        </groups>
        <!-- List individual packages to execute below -->

        <classes>
            <class name="com.sample.test.demo.tests.DemoTest"/>
            <class name="com.sample.test.demo.tests.page.SingleOrderPageNegativeTest"/>
            <class name="com.sample.test.demo.tests.page.SingleOrderPageTest"/>
        </classes>
    </test>
</suite>

